<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Panel
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="robinData">
  <ion-grid>
    <ion-row>
      <ion-col>
        <p><b>Imię:</b> {{robinData.name}}</p>
        <p><b>Kondycja:</b> {{robinData.condition}}</p>
        <p><b>Warunki żerowania:</b> {{robinData.feeding}}</p>
        <p><b>Pogoda:</b> {{robinData.weather}}</p>
        <p><b>Lokalizacja:</b> {{robinData.currentLocation}}</p>
      </ion-col>
      <ion-col>
        <ion-img src="assets/robin-remus.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <p><b>Podjęte decyzje:</b></p>
    </ion-row>
    <ion-row>
      <ion-list lines="full" style="width:100%">
        <ion-item *ngFor="let decision of decisions">
          <b>{{decision.date | date:'d MMMM'}}</b> 
          <span style="margin-left:1rem">{{decision.name}}</span>
        </ion-item>
      </ion-list>
    </ion-row>
  </ion-grid>
</ion-content>