<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Panel
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="robin">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="tiles">
          <div class="category">
            <div class="category-header">Dane</div>
            <table>
              <tr class="model-data">
                <td class="header">Imię</td>
                <td class="value">{{robin.name}}</td>
              </tr>
              <tr class="model-data">
                <td class="header">Płeć</td>
                <td class="value">{{robin.sex}}</td>
              </tr>
              <tr class="model-data">
                <td class="header">Skrzydło</td>
                <td class="value">{{robin.wing}}</td>
              </tr>
            </table>
          </div>
          <div class="category">
            <div class="category-header">Postęp</div>
            <table>
              <tr class="model-data">
                <td class="header">Dzień</td>
                <td class="value">{{robin.turn}}</td>
              </tr>
              <tr class="model-data">
                <td class="header">Data</td>
                <td class="value">{{robin.date}}</td>
              </tr>
              <tr class="model-data">
                <td class="header">Droga</td>
                <td class="value">{{robin.distanceMade}}</td>
              </tr>
              <tr class="model-data">
                <td class="header">Pozostało</td>
                <td class="value">{{robin.distanceTo}}</td>
              </tr>
              <tr class="model-data">
                <td class="header">Położenie</td>
                <td class="value">{{location ? location : robin.location}}</td>
              </tr>
            </table>
          </div>
          <div class="category">
            <div class="category-header">Stan</div>
            <table>
              <tr class="model-data">
                <td class="header">Zdrowie</td>
                <td class="value">{{robin.health}}</td>
              </tr>
              <tr class="model-data">
                <td class="header">Tłuszcz</td>
                <td class="value">{{robin.fat}}</td>
              </tr>
              <tr class="model-data">
                <td class="header">Żerowisko</td>
                <td class="value">{{robin.feedingGround}}</td>
              </tr>
            </table>
          </div>

          <div class="category">

            <div class="category-header">Pogoda</div>
            <table>
              <tr class="model-data">
                <td class="header">Wiatr</td>
                <td class="value">{{robin.wind}}</td>
              </tr>
              <tr class="model-data">
                <td class="header">Deszcz</td>
                <td class="value">{{robin.rain}}</td>
              </tr>
              <tr class="model-data">
                <td class="header">Temperatura</td>
                <td class="value">{{robin.temperature}}</td>
              </tr>
            </table>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div class="img-container">
          <ion-img src="assets/robin-remus.png" *ngIf="!robin.isDead"></ion-img>
          <ion-img src="assets/robin-remus-dead.png" *ngIf="robin.isDead"></ion-img>
        </div>
        <div class="category">
          <div class="category-header">Doświadczenie</div>
          <table>
            <tr>
              <td class="header">Krogulec</td>
              <td class="value">{{robin.sparrowHawks}}</td>
            </tr>
            <tr>
              <td class="header">Załamanie pogody</td>
              <td class="value">{{robin.weatherBreakdowns}}</td>
            </tr>
            <tr>
              <td class="header">Mgła</td>
              <td class="value">{{robin.mists}}</td>
            </tr>
            <tr>
              <td class="header">Szklany wieżowiec</td>
              <td class="value">{{robin.skyscrapers}}</td>
            </tr>
          </table>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <!-- <p><b>Podjęte decyzje:</b></p>
      <ion-list lines="full" style="width:100%">
        <ion-item *ngFor="let decision of decisions">
          <b>{{decision.date | date:'d MMMM'}}</b>
          <span style="margin-left:1rem">{{decision.name}}</span>
        </ion-item>
      </ion-list> -->
      <div class="category fill">
        <div class="category-header">Czy wiesz że?</div>
        <p class="text-justify">Rudzik jest małym ptakiem wędrownym z rodziny muchołówkowatych. Dzięki rdzawej barwie
          czoła, boków głowy,
          piersi dorosłe ptaki są łatwe do rozpoznania. Kolejną cechą rozpoznawczą jest śpiew, który słychać nawet
          wtedy, gdy większość leśnych ptaków milczy. </p>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>