<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Decyzje
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid *ngIf="robin && robin.isDead">
    <ion-row class="row-center">
      <p class="info-text">Rudzik zmarł. Czy chcesz zacząć grę od początku?</p>
      <ion-button (click)="submitRestart()">Rozpocznij grę od początku</ion-button>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="robin && robin.isAlive">
    <ion-row>
      <ion-list>
        <ion-radio-group [(ngModel)]="decisionValue" (ionChange)="setDecision($event)">
          <ion-item>
            <ion-label>Żeruj intensywnie</ion-label>
            <ion-radio [value]="decisions.IntensiveFeeding"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Żeruj na utrzymanie kondycji</ion-label>
            <ion-radio [value]="decisions.FitFeeding"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Leć</ion-label>
            <ion-radio [value]="decisions.Fly"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Zmień żerowisko</ion-label>
            <ion-radio [value]="decisions.SwitchFeeding"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Lecz rany</ion-label>
            <ion-radio [value]="decisions.Recover"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-row>
    <ion-row class="decision" *ngIf="result && result.success">
      <div *ngIf="decision.decision === decisions.IntensiveFeeding" class="decision-container">
        <p><b>Żerowisko:</b> {{robin.feedingGround}}</p>
        <p><b>Wiatr:</b> {{robin.wind}}</p>
        <p><b>Deszcz:</b> {{robin.rain}}</p>
        <p><b>Temperatura:</b> {{robin.temperature}}</p>
        <p><b>Przewidywany wynik:</b> {{result.expectedMessage}}</p>
      </div>
      <div *ngIf="decision.decision === decisions.FitFeeding" class="decision-container">
        <p><b>Żerowisko:</b> {{robin.feedingGround}}</p>
        <p><b>Wiatr:</b> {{robin.wind}}</p>
        <p><b>Deszcz:</b> {{robin.rain}}</p>
        <p><b>Temperatura:</b> {{robin.temperature}}</p>
        <p><b>Przewidywany wynik:</b> {{result.expectedMessage}}</p>
      </div>
      <div class="slidecontainer decision-container" *ngIf="decision.decision === decisions.Fly">
        <p>Ilość tłuszczu do zużycia:</p>
        <input #time type="range" min="2" [max]="robin.fatNum-1" [(ngModel)]="decision.fatUsed" class="slider"
          step="0.1">
        <p>Użyj {{decision.fatUsed.toFixed(1)}} jednostek tłuszczu na {{(robin.fatNum-1).toFixed(1)}} możliwe.</p>
        <p>Przewidywana odległość: {{robin.getFlightDistance(decision.fatUsed)}}.</p>
      </div>
      <div *ngIf="decision.decision===decisions.SwitchFeeding" class="decision-container">

        <p>{{result.expectedMessage}}</p>

      </div>
      <div *ngIf="decision.decision===decisions.Recover" class="decision-container">

        <p>{{result.expectedMessage}}</p>

      </div>
    </ion-row>
    <ion-row *ngIf="result && !result.success" class="decision">
      <div class="decision-container">
        <div class="warning">{{result.errorMessage}}</div>
      </div>
    </ion-row>
    <ion-row class="ion-text-center" *ngIf="result?.success">
      <ion-button class="primary" (click)="submit()" id="decision-button">
        Podejmij decyzję i zakończ dzień
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>