<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Decyzje
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="robin">
  <ion-list>
    <ion-radio-group [(ngModel)]="decision">
      <ion-item>
        <ion-label>Żeruj intensywnie</ion-label>
        <ion-radio [value]="decisions.IntensiveFeeding"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Żeruj na utrzymanie kondycji</ion-label>
        <ion-radio [value]="decisions.FitFeeding"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Leć</ion-label>
        <ion-radio [value]="decisions.Fly"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Zmień żerowisko</ion-label>
        <ion-radio [value]="decisions.SwitchFeeding"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Lecz rany</ion-label>
        <ion-radio [value]="decisions.Recover"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <div class="decision">
    <div class="slidecontainer" *ngIf="decision == decisions.Fly">
      <p>Ilość tłuszczu do zużycia:</p>
      <input #time type="range" min="2" [max]="10" [(ngModel)]="flyFat" class="slider" step="0.1">
      <p>{{flyFat.toFixed(1)}} / {{robin.fat}}</p>
    </div>

</div>
  <div class="ion-text-center">
    <ion-button class="primary" (click)="onDayEnd()">
      Podejmij decyzję i zakończ dzień
    </ion-button>
  </div>
</ion-content>